.header {
    text-align: center;
    font-family: "Verdana", Arial, sans-serif;
    color: #737373;
    font-size: 40px;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.subheader {
	text-align: left;
	font-family: "Verdana", Arial, sans-serif;
	color: #737373;
	font-size: 30px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 50px;
    margin-inline-end: auto;
}

.paragraph {
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	width: 875px;
	margin-block-start: 0.5em;
	margin-block-end: 2em;
	margin-inline-start: 100px;
}

.fullparagraph {
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin-block-start: 0.5em;
	margin-block-end: 2em;
	margin-inline-start: 100px;
	margin-inline-end: 100px;
}

.centerparagraph {
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	width: 700px;
	margin-block-start: 2em;
	margin-block-end: 2em;
	margin-inline-start: 300px;
}

/* https://www.w3schools.com/css/css_float.asp */
.imgright {
  float: right;
}

.imgindent {
  margin-inline-start: 100px;
}

.altimgindent {
  margin-inline-start: 300px;
}

/* https://www.w3schools.com/howto/howto_css_image_center.asp */
.imagecenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}
/* https://www.w3schools.com/css/css_navbar_horizontal.asp */
.navbar {
  list-style-type: none;
  margin: 0;
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
  margin-inline-start: 5px;
  margin-inline-end: 5px;
  padding: 0;
  overflow: hidden;
  background-color: #737373;
}

.navbaritem {
  float: left;
}

li a {
  display: block;
  font-family:"Verdana", Arial, sans-serif;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #66b3ff;
}

.title {
	display: block;
    text-align: center;
    font-family: "Veranda", Arial, sans-serif;
    color: #737373;
    font-size: 20px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.mainparagraph {
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
	margin-inline-start: 20px;
}

.text {
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 16px;
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
	margin-inline-start: 40px;
}

/* https://www.w3schools.com/css/css_grid_container.asp */
.container-grid {
  display: grid;
  grid-template-columns: 264px 1000px; /*columns widths*/
  height: 40vh;
}

.col-1 {
	height: 100%;
	background-color: #737373;
}

.col-2 {
  background-color: transparent;
}

.imgcenter {
  display: block;
	margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-inline-start: 80px;
  height: 118px;
}

/* https://stackoverflow.com/questions/14821087/horizontal-line-and-right-way-to-code-it-in-html-css */
.sideline {
	height:1px; 
	background: #66b3ff;
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 20px;
	color: white;
	text-align: center;
	margin-block-start: 1.5em;
	margin-block-end: 1.5em;
	margin-inline-start: auto;
	margin-inline-end; auto;
}
.mainline {
	height:1px; 
	background: #66b3ff;
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 22px;
	color: black;
	font-weight: bold;
	text-align: center;
	margin-block-start: 1.5em;
	margin-block-end: 1.5em;
	margin-inline-start: auto;
	margin-inline-end: 20px;
}

.close {
	display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 80px;
}

.nogap {
	display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.b {
  font-family:"Helvetica", Arial, sans-serif;
  color: black;
  font-size: 16px;
  margin-inline-end: 20px;
}

.c {
	display: block;
	font-family:"Helvetica", Arial, sans-serif;
	color: black;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
}

.d {
	display: block;
	font-family:"Helvetica", Arial, sans-serif;
	color: black;
	font-size: 14px;
	text-align: left;
}

.box {
	height: 222px;
}

.box2 {
	height: 169px;
}

.box3 {
	height: 450px;
}
